[DevSync/SharpZipLib/**.cs]
# disable nullable
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS8765.severity = none

# other
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0051.severity = none
